.login-register {
  padding-top: 78px;
  margin-bottom: 154px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-white;
  z-index: 2;
}

.login-register-inner {
  width: 460px;
  margin: 0 auto;
}

.login-register-header {
  margin-bottom: 25px;
}

.login-register-header-title {
  font-size: 30px;
  letter-spacing: 0.09em;
}

.login-register-body {
  margin-top: 50px;
}

.login-register-form {
}

.login-register-field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-register-label {
  font-size: 18px;
  letter-spacing: 0.09em;
  margin-bottom: 6px;
}

.login-register-button {
  background-color: $color-primary-black;
  color: $color-white;
  padding: 22px 0;
}

.login-register-input {
  height: 58px;
  background-color: transparent !important;
  font-size: 18px;
}

.login-register-footer {
  margin-top: 40px;
}

.login-register-footer-content {
  display: flex;
  justify-content: center;
}

.login-register-footer-text {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.login-register-footer-link {
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-left: 6px;
}

.login-register-error {
  padding: 20px;
  border: 1px solid $color-red;
  background-color: $color-light-red;
}

.login-register-error-text {
  color: $color-red;
  font-weight: 500;
  letter-spacing: 0.09em;
}
